{
  "root": true,
  "extends": ["@jupiterone/eslint-config/node"],
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "work/",
    "coverage/",
    "bak/",
    "index.js",
    "tools/",
  ],
  "parserOptions": {
    "es6": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": ".",
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true,
      },
    },
  ],
}
